
/* Your CSS Code here. */body {
  background: #111;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: sans-serif;
}

.player {
  max-width: 800px;
  border: 3px solid #fff;
  background: #222;
  overflow: hidden;
  border-radius: 6px;
}

.viewer {
  width: 100%;
  display: block;
}

.player__controls {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background: #333;
}

.player__button,
.player__slider {
  cursor: pointer;
}

.player__button {
  background: none;
  color: white;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.player__slider {
  width: 120px;
}

.progress {
  flex: 1;
  height: 8px;
  background: #444;
  cursor: pointer;
  border-radius: 4px;
}

.progress__filled {
  width: 0%;
  background: #fca311;
  height: 100%;
  border-radius: 4px;
}
